@charset "utf-8";
/* CSS Document */
body{
	font-family : Arial, Helvetica,san-serif;
}

ul {
	list-style-type: none;
			 margin: 0;
			padding: 0;
		   overflow: hidden;
			  float: left;
	
}

li {
	float: left;
}

a:link, a:visited{
	display: block;
    width: 130px;
	height: 40px;
    color: rgb(255,255,255);
    background-color: rgb(0,128,255);
	font-family: Arial;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
	

}

a:hover, a:active {
    background-color: rgb(70,130,180);
}

#NavBar {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	background-color: rgb(0,128,255);
	border: 1px solid black;
}




#container {
	width:1024px;
	height:auto;
	left: auto;
	right: auto;
	margin-right: auto;
	margin-left: auto;
}

#header {
	height: 100px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	left: auto;
	right: auto;
	
}

#formContent {
	width: 705px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

#firstParticular {
	margin: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

#secondParticular {
	margin: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

#thirdParticular {
	margin: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

#fourthParticular {
	margin: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}